<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Bird ID: {{bird.id}}</h2>
            <ul>
                <li><span class="bold">Production Date:</span> {{bird.production_date}}</li>
                <li><span class="bold">Race:</span> {{bird.race}}</li>
                <li><span class="bold">Subject:</span><a
                        href="/view/subject/{{bird.subject_id}}">{{bird.subject_id}}</a></li>
            </ul>

        </div>

    </div>


</main>