<main>

    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>{{subject.name}}</h2>
            <ul>
                <li><span class="bold">ID:</span> {{subject.id}}</li>
                <li><span class="bold">Address:</span> {{subject.nbr}} {{subject.street}}, {{subject.city}}</li>
            </ul>

        </div>

    </div>

</main>