<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>{{data.station.station_name}} Station</h2>
            <ul>
                <li><span class="bold">Name:</span> {{data.station.station_name}}</li>
                <li><span class="bold">Latitude:</span> {{data.station.latitude}}°</li>
                <li><span class="bold">Longitude:</span> {{data.station.longitude}}°</li>
            </ul>

            <h4>Handlers at Station:</h4>
            <table class="home-table">
                <tr>
                    <th>Codename</th>
                    <th>Address</th>
                </tr>
                {{#each data.handlers}}
                <tr>
                    <td><a href="/view/handler/{{this.codename}}">{{this.codename}}</a></td>
                    <td>{{this.nbr}} {{this.street}}, {{this.city}}</td>
                </tr>
                {{/each}}
            </table>
            <button onclick="deleteStation('{{data.station.station_name}}')">Delete</button>
        </div>

    </div>


</main>