<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Handlers</h2>
            <table class="home-table">
                <tr>
                    <th>Codename</th>
                    <th>Station</th>
                    <th>Address</th>
                </tr>
                {{#each data.handlers}}
                <tr>
                    <td><a href="/view/handler/{{this.codename}}">{{this.codename}}</a></td>
                    <td><a href="/view/station/{{this.station}}">{{this.station}}</a></td>
                    <td>{{this.nbr}} {{this.street}}, {{this.city}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>

</main>