<main>
    {{>header}}

    {{>viewBar}}
    {{>handlerUpdateModal}}
    {{>assignBirdModal}}
    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Handler: {{data.handler.codename}}</h2>
            <ul>
                <li><span class="bold">Codename:</span> {{data.handler.codename}}</li>
                <li><span class="bold">Address:</span> {{data.handler.nbr}} {{data.handler.street}},
                    {{data.handler.city}}</li>
                <li><span class="bold">Station:</span> <a
                        href="/view/station/{{data.handler.station}}">{{data.handler.station}}</a></li>
            </ul>

            <h4>Birds Operated by {{data.handler.codename}}:</h4>
            <table class="home-table">
                <tr>
                    <th>ID</th>
                    <th>Production Date</th>
                    <th>Race</th>
                    <th>Subject</th>
                </tr>
                {{#each data.birds}}
                <tr>
                    <td><a href="/view/bird/{{this.id}}">{{this.id}}</a></td>
                    <td>{{this.production_date}}</td>
                    <td>{{this.race}}</td>
                    <td><a href="/view/subject/{{this.subject_id}}">{{this.subject_id}}</a></td>
                </tr>
                {{/each}}
            </table>
            <button type="button" onclick="showAssignBirdModal()" id="create-bird-button">Assign Bird</button>
            <button type="button" onclick="showUpdateHandlerModal()" id="create-bird-button">Update Station</button>
            <button onclick="deleteHandler('{{data.handler.codename}}')">Delete</button>

        </div>

    </div>


</main>