<main>
    {{>header}}

    {{>viewBar}}
    {{>birdUpdateModal}}
    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        
        

        <div class="table-container">
            
            <h2>Bird ID: {{data.bird.id}}</h2>
            <ul>
                <li><span class="bold">Production Date:</span> {{data.bird.production_date}}</li>
                <li><span class="bold">Race:</span> {{data.bird.race}}</li>
                <li><span class="bold">Subject:</span><a
                        href="/view/subject/{{data.bird.subject_id}}">{{data.bird.name}}</a></li>
            </ul>

            <h4>Bird {{data.bird.id}} Handlers</h4>
            <table class="home-table">
                <tr>
                    <th>Codename</th>
                    <th>Station</th>
                </tr>
                {{#each data.handlers}}
                <tr>
                    <td><a href="/view/handler/{{this.codename}}">{{this.codename}}</a></td>
                    <td><a href="/view/station/{{this.station}}">{{this.station}}</a></td>
                </tr>
                {{/each}}
            </table>
            <button type="button" onclick="showUpdateBirdModal()" id="create-bird-button">Update Subject</button>
            <button onclick="deleteBird({{data.bird.id}})">Delete</button>
        </div>

    </div>


</main>