<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Birds</h2>
            <table class="home-table">
                <tr>
                    <th>ID</th>
                    <th>Production Date</th>
                    <th>Race</th>
                    <th>Subject</th>
                </tr>
                {{#each birds}}
                <tr>
                    <td><a href="/view/bird/{{this.id}}">{{this.id}}</a></td>
                    <td>{{this.production_date}}</td>
                    <td>{{this.race}}</td>
                    <td><a href="/view/subject/{{this.subject_id}}">{{this.subject_id}}</a></td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>

</main>